/* Common Shared Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    padding: 17px 40px;
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    border: none;
}
.colored-text{
    color: #E55473;
}



/* navigation bar styles */
/* nav{
    height: 15vh;
    background-color:pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav-logo{
    height: 60%;
}
.flower-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 30%;
}
.menu a{
    text-decoration: none;
    color:beige;
} */




/* banner section styles */
.banner-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(229,84,115,0.10);
    display: flex;
    align-items:center;
    /* gap:12% ; */
    padding-top: 40px;
}
.banner-information{
    margin-left: 11%;
    width: 40%;
}
.banner-title{
    font-size: 50px;
    margin-bottom: 30px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-img{
    height: 100vh;
}



/* feature section styles */
.feature-container{
    height: 900px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
.featuredt{
    margin-top: 7%;
    margin-bottom: 4%;
}
.feature-title{
    font-size: 40px;
    margin-bottom: 10px;
}
.featured{
    display: flex;
    width: 100%;
    justify-content: space-between ;

}
.feature-photo-container{
    height: 100%;
    width: 280px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    border-radius: 300px 300px 0 0;
    margin-bottom: 20px;
}
.one{
    background-color: rgba(167, 33, 98, 0.15);
}
.two{
    background-color: rgba(5, 15, 160, 0.15);
}
.three{
    background-color: rgba(71, 125, 17, 0.15);
}
.feature-img{
    height:300px;
    width: 220px;
}
.feature-banner{
    background-color: rgba(39, 39, 39, 0.05);
    width: 100%;
    height: 200px ;
    margin-top: 70px;
    margin-bottom: 40px;
    justify-content: space-around;
    align-items: center;
}
.feature-icon{
    height: 50%;
    width: 20%;
    margin-bottom: 10px;
}



/* hot deal section styles */
.deal-container{
    height: 45vh;
    width: 100%;
    background-color: rgba(229,84,115,0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
}
.hot-deals{
    width: 40%;
}
.deal-title{
    margin-bottom: 3vh;
    font-size: 30px;
}
.deal-description{
    margin-bottom: 2vh;
    line-height: 4vh;
}
.deal-photo{
    height: 35vh;
}


/* valentine section styles */
.valentine-container{
    /* background-image: url(./FlowerAsset/val.jpg);
    background-position: center;
    background-repeat: no-repeat; */
    background-color: rgba(229,84,115,0.10);
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
}
.val-title{
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}
.val-register{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
}
.val-photo{
    height: 300px;
}
.val-form{
    background-color: #E55473;
    padding: 10px;
}
#input{
    width: 100%;
    height: 5vh;
    border:none;
    margin-bottom: 1vh;
}
#txt-input{
    border: none;
    height: 100px;
}
.val-btn{
    border: 2px solid white;
}



/* instagram subscription styles */
.instagram-container{
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8vh;
    margin-top: 10vh;
}
.instagram-title{
    font-size: 30px;
}
.insta-description{
    width: 70%;
    margin-left: 13%;
    margin-top: 10px;
}
.instagram-posts{
    display: flex;
    justify-content: space-between;
}
.insta-photo{
    width: 20%;
}
.subscription{
    /* background-image: url("./Rectangle9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sub-photo{
    position: relative;
    width: 100%;
    /* height: 50%; */
}
.sub-field{
    position: absolute;
}
.subscribe-title{
    margin-bottom: 15px;
    font-size: 30px;
}
.subscribe-description{
    margin-bottom: 20px;
}
#email{
    width: 390px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin-right: 15px;
}



/* footer styles */
.footer{
    height: 40vh;
    margin-top: 30vh;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    text-align: center;
}
.footer-description{
    width: 40%;
}